{
    "urlProject": "https://<<projecturl>>/api/v3/time_entries",
    "urlClockify": "https://api.clockify.me/api/workspaces/<<worcksapceId>>/reports/summary/",
    "clockFyAPIKey": "<<clockFyAPIKey>>",
    "usersMap": {}
}